*/target
*/*/target
*/*/*/target
*/*/*/*/target
*/*.classpath
*/*/.classpath
*/*/*/.classpath
*/*/*/*/.classpath
*/*.project
*/*/.project
*/*/*/.project
*/*/*/*/.project
*/.settings
*/*/.settings
*/*/*/.settings
*/*/*/*/.settings
/.settings
/.classpath
/.project
.idea
*/*.iml
*/*/*.iml
*/*/*/*.iml
/*.iml
logs
*.yml
*/*.yml
*/*/*.yml
*/*/*/*.yml
*/*/*/*/*.yml
*.properties
*/*.properties
*/*/.properties
*/*/*/.properties
*/*/*/*/.properties


