<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmr.dao.UserMapper">
	
	<resultMap id="user" type="com.cmr.entities.User" >
		<result column="id" property="id" />
		<result column="username" property="username" />
	    <result column="password" property="password" />
	    <result column="type" property="type" />
	    <result column="realname" property="realname" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.username,
		t.password,
		t.type,
		t.realname
	</sql>


	<select id="findByUserName" parameterType="java.lang.String" resultMap="user">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_api_user AS t
		WHERE t.username = #{userName}
	</select>

	<select id="findAll"  resultMap="user">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_api_user as t
	</select>


	<delete id="deleteByUserId" >
		delete from xxl_api_user where id=#{id}
	</delete>
	

	<insert id="addUser" parameterType="com.cmr.entities.User" >
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into xxl_api_user (
		username,
		password,
		type,
		realname)
		values (
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{type},
		#{realname,jdbcType=VARCHAR}
		)
	</insert>


</mapper>